PORT=3000
NODE_ENV=development

ADMIN_API_TOKEN=change_me_to_a_long_random_string

MEGAGROUP_LOGIN=your_login
MEGAGROUP_PASSWORD=your_password
MEGAGROUP_SITE_ID=123456
MEGAGROUP_CABINET_URL=https://cabinet.megagroup.ru
MEGAGROUP_SHOP_ID=123456

CDEK_URL=https://api.edu.cdek.ru/v2
CDEK_CLIENT_ID=client_id
CDEK_CLIENT_SECRET=client_secret
CDEK_WEBHOOK_SECRET=change_me_to_a_long_random_string

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_password
